<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{task}}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="container">
    {% if task == 'login' %}
        <h1>Login with your username and password</h1>
    {% else %}
        <h1>Registration</h1>
    {% endif %}

    {% if returned %}
    <h3 id="errormsg">{{'Incorrect username or password' if task == 'login' else 'Username already exists'}}<h3>
    {% endif %}

    <form action="{{'/login_check' if task == 'login' else '/register_check'}}" method='POST'>
        <label for='username'>Username:</label><br/>
        <input type='text' id='username' name='username' required pattern='.{3,16}' title='Must be 3 to 16 characters'><br>
        
        <label for='password'>Password:</label><br>
        <input type='password' id='password' name='password' required pattern='.{6,16}' title='Must be 6 to 16 characters'><br>
        
        <input type='submit' class="btn btn-primary" value='{{task}}'>
        <a class="btn btn-default" type="button" href="/">Back to main</a>
    </form>
    </div>


</body>
</html>